In [42]:
import glob, re
import numpy as np
import pandas as pd
from sklearn import *
from datetime import datetime

In [43]:
dfs = { re.search('/([^/\.]*)\.csv', fn).group(1):
    pd.read_csv(fn)for fn in glob.glob('../input/*.csv')}
for k, v in dfs.items(): locals()[k] = v

In [44]:
date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [45]:
wkend_holidays = date_info.apply(lambda x: (x.day_of_week=='Sunday' or x.day_of_week=='Saturday') and x.holiday_flg==1, axis=1)

In [46]:
date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [47]:
len(date_info)

517

In [48]:
date_info.index

RangeIndex(start=0, stop=517, step=1)

In [49]:

date_info.loc[wkend_holidays, 'holiday_flg'] = 0
date_info['weight'] = ((date_info.index + 1) / len(date_info)) ** 5

In [50]:
date_info.head()

  calendar_date day_of_week  holiday_flg        weight
0    2016-01-01      Friday            1  2.707368e-14
1    2016-01-02    Saturday            0  8.663577e-13
2    2016-01-03      Sunday            0  6.578904e-12
3    2016-01-04      Monday            0  2.772345e-11
4    2016-01-05     Tuesday            0  8.460525e-11

In [51]:
air_visit_data.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [52]:
visit_data = air_visit_data.merge(date_info, left_on='visit_date', right_on='calendar_date', how='left')

In [53]:
visit_data.head()

,air_store_id,visit_date,visitors,calendar_date,day_of_week,holiday_flg,weight
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,1.005227e-08
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,1.456087e-08
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,2.055908e-08
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,2.838881e-08
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,5.115756e-08

In [54]:
visit_data.drop('calendar_date', axis=1, inplace=True)

In [55]:
visit_data.head()

,air_store_id,visit_date,visitors,day_of_week,holiday_flg,weight
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,1.005227e-08
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,1.456087e-08
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,2.055908e-08
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,2.838881e-08
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,5.115756e-08

In [56]:
visit_data['visitors'] = visit_data.visitors.map(pd.np.log1p)

In [57]:
visit_data.head()

,air_store_id,visit_date,visitors,day_of_week,holiday_flg,weight
0,air_ba937bf13d40fb24,2016-01-13,3.258097,Wednesday,0,1.005227e-08
1,air_ba937bf13d40fb24,2016-01-14,3.496508,Thursday,0,1.456087e-08
2,air_ba937bf13d40fb24,2016-01-15,3.401197,Friday,0,2.055908e-08
3,air_ba937bf13d40fb24,2016-01-16,3.135494,Saturday,0,2.838881e-08
4,air_ba937bf13d40fb24,2016-01-18,1.945910,Monday,0,5.115756e-08

In [58]:
visitors = visit_data.groupby(['air_store_id', 'day_of_week', 'holiday_flg']).apply(lambda x:( (x.weight * x.visitors).sum() / x.weight.sum() )).reset_index()

In [59]:
visit_data.head()

,air_store_id,visit_date,visitors,day_of_week,holiday_flg,weight
0,air_ba937bf13d40fb24,2016-01-13,3.258097,Wednesday,0,1.005227e-08
1,air_ba937bf13d40fb24,2016-01-14,3.496508,Thursday,0,1.456087e-08
2,air_ba937bf13d40fb24,2016-01-15,3.401197,Friday,0,2.055908e-08
3,air_ba937bf13d40fb24,2016-01-16,3.135494,Saturday,0,2.838881e-08
4,air_ba937bf13d40fb24,2016-01-18,1.945910,Monday,0,5.115756e-08

In [60]:
visitors.rename(columns={0:'visitors'}, inplace=True)

In [61]:
visit_data.head()

,air_store_id,visit_date,visitors,day_of_week,holiday_flg,weight
0,air_ba937bf13d40fb24,2016-01-13,3.258097,Wednesday,0,1.005227e-08
1,air_ba937bf13d40fb24,2016-01-14,3.496508,Thursday,0,1.456087e-08
2,air_ba937bf13d40fb24,2016-01-15,3.401197,Friday,0,2.055908e-08
3,air_ba937bf13d40fb24,2016-01-16,3.135494,Saturday,0,2.838881e-08
4,air_ba937bf13d40fb24,2016-01-18,1.945910,Monday,0,5.115756e-08

In [62]:
sample_submission.head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [63]:
sample_submission['air_store_id'] = sample_submission.id.map(lambda x: '_'.join(x.split('_')[:-1]))
sample_submission['calendar_date'] = sample_submission.id.map(lambda x: x.split('_')[2])
sample_submission.drop('visitors', axis=1, inplace=True)

In [64]:
sample_submission.head()

                                id          air_store_id calendar_date
0  air_00a91d42b08b08d9_2017-04-23  air_00a91d42b08b08d9    2017-04-23
1  air_00a91d42b08b08d9_2017-04-24  air_00a91d42b08b08d9    2017-04-24
2  air_00a91d42b08b08d9_2017-04-25  air_00a91d42b08b08d9    2017-04-25
3  air_00a91d42b08b08d9_2017-04-26  air_00a91d42b08b08d9    2017-04-26
4  air_00a91d42b08b08d9_2017-04-27  air_00a91d42b08b08d9    2017-04-27

In [65]:
date_info.head()

  calendar_date day_of_week  holiday_flg        weight
0    2016-01-01      Friday            1  2.707368e-14
1    2016-01-02    Saturday            0  8.663577e-13
2    2016-01-03      Sunday            0  6.578904e-12
3    2016-01-04      Monday            0  2.772345e-11
4    2016-01-05     Tuesday            0  8.460525e-11

In [66]:
sample_submission = sample_submission.merge(date_info, on='calendar_date', how='left')

In [67]:
sample_submission.head()

,id,air_store_id,calendar_date,day_of_week,holiday_flg,weight
0,air_00a91d42b08b08d9_2017-04-23,air_00a91d42b08b08d9,2017-04-23,Sunday,0,0.682692
1,air_00a91d42b08b08d9_2017-04-24,air_00a91d42b08b08d9,2017-04-24,Monday,0,0.689848
2,air_00a91d42b08b08d9_2017-04-25,air_00a91d42b08b08d9,2017-04-25,Tuesday,0,0.697064
3,air_00a91d42b08b08d9_2017-04-26,air_00a91d42b08b08d9,2017-04-26,Wednesday,0,0.704340
4,air_00a91d42b08b08d9_2017-04-27,air_00a91d42b08b08d9,2017-04-27,Thursday,0,0.711677

In [68]:

sample_submission = sample_submission.merge(visitors, on=['air_store_id', 'day_of_week', 'holiday_flg'], how='left')

In [69]:
sample_submission.head()

,id,air_store_id,calendar_date,day_of_week,holiday_flg,weight,visitors
0,air_00a91d42b08b08d9_2017-04-23,air_00a91d42b08b08d9,2017-04-23,Sunday,0,0.682692,1.098612
1,air_00a91d42b08b08d9_2017-04-24,air_00a91d42b08b08d9,2017-04-24,Monday,0,0.689848,3.203625
2,air_00a91d42b08b08d9_2017-04-25,air_00a91d42b08b08d9,2017-04-25,Tuesday,0,0.697064,3.325868
3,air_00a91d42b08b08d9_2017-04-26,air_00a91d42b08b08d9,2017-04-26,Wednesday,0,0.704340,3.353439
4,air_00a91d42b08b08d9_2017-04-27,air_00a91d42b08b08d9,2017-04-27,Thursday,0,0.711677,3.475056

In [70]:
visitors.head()

           air_store_id day_of_week  holiday_flg  visitors
0  air_00a91d42b08b08d9      Friday            0  3.583535
1  air_00a91d42b08b08d9      Monday            0  3.203625
2  air_00a91d42b08b08d9      Monday            1  3.091042
3  air_00a91d42b08b08d9    Saturday            0  2.524065
4  air_00a91d42b08b08d9      Sunday            0  1.098612

In [72]:
missings = sample_submission.visitors.isnull()

In [74]:
missings.head()

0    False
1    False
2    False
3    False
4    False
Name: visitors, dtype: bool

In [77]:
sample_submission.loc[missings, 'visitors'] = sample_submission[missings].merge(visitors[visitors.holiday_flg==0], on=('air_store_id', 'day_of_week'), how='left')['visitors_y'].values

In [78]:
sample_submission.head()

,id,air_store_id,calendar_date,day_of_week,holiday_flg,weight,visitors
0,air_00a91d42b08b08d9_2017-04-23,air_00a91d42b08b08d9,2017-04-23,Sunday,0,0.682692,1.098612
1,air_00a91d42b08b08d9_2017-04-24,air_00a91d42b08b08d9,2017-04-24,Monday,0,0.689848,3.203625
2,air_00a91d42b08b08d9_2017-04-25,air_00a91d42b08b08d9,2017-04-25,Tuesday,0,0.697064,3.325868
3,air_00a91d42b08b08d9_2017-04-26,air_00a91d42b08b08d9,2017-04-26,Wednesday,0,0.704340,3.353439
4,air_00a91d42b08b08d9_2017-04-27,air_00a91d42b08b08d9,2017-04-27,Thursday,0,0.711677,3.475056

In [79]:
missings = sample_submission.visitors.isnull()
sample_submission.loc[missings, 'visitors'] = sample_submission[missings].merge(visitors[['air_store_id', 'visitors']].groupby('air_store_id').mean().reset_index(), on='air_store_id', how='left')['visitors_y'].values

In [80]:
sample_submission.head()

,id,air_store_id,calendar_date,day_of_week,holiday_flg,weight,visitors
0,air_00a91d42b08b08d9_2017-04-23,air_00a91d42b08b08d9,2017-04-23,Sunday,0,0.682692,1.098612
1,air_00a91d42b08b08d9_2017-04-24,air_00a91d42b08b08d9,2017-04-24,Monday,0,0.689848,3.203625
2,air_00a91d42b08b08d9_2017-04-25,air_00a91d42b08b08d9,2017-04-25,Tuesday,0,0.697064,3.325868
3,air_00a91d42b08b08d9_2017-04-26,air_00a91d42b08b08d9,2017-04-26,Wednesday,0,0.704340,3.353439
4,air_00a91d42b08b08d9_2017-04-27,air_00a91d42b08b08d9,2017-04-27,Thursday,0,0.711677,3.475056

In [81]:

test_visit_var = sample_submission.visitors.map(pd.np.expm1)

In [83]:

test_visit_var.head()

0     2.000000
1    23.621632
2    26.823130
3    27.600920
4    31.299646
Name: visitors, dtype: float64

In [86]:
data = {
    'tra': pd.read_csv('../input/air_visit_data.csv')
    }

In [90]:
data

{'tra':                 air_store_id  visit_date  visitors
 0       air_ba937bf13d40fb24  2016-01-13        25
 1       air_ba937bf13d40fb24  2016-01-14        32
 2       air_ba937bf13d40fb24  2016-01-15        29
 3       air_ba937bf13d40fb24  2016-01-16        22
 4       air_ba937bf13d40fb24  2016-01-18         6
 5       air_ba937bf13d40fb24  2016-01-19         9
 6       air_ba937bf13d40fb24  2016-01-20        31
 7       air_ba937bf13d40fb24  2016-01-21        21
 8       air_ba937bf13d40fb24  2016-01-22        18
 9       air_ba937bf13d40fb24  2016-01-23        26
 10      air_ba937bf13d40fb24  2016-01-25        21
 11      air_ba937bf13d40fb24  2016-01-26        11
 12      air_ba937bf13d40fb24  2016-01-27        24
 13      air_ba937bf13d40fb24  2016-01-28        21
 14      air_ba937bf13d40fb24  2016-01-29        26
 15      air_ba937bf13d40fb24  2016-01-30         6
 16      air_ba937bf13d40fb24  2016-02-03        18
 17      air_ba937bf13d40fb24  2016-02-04        12
 18      air_ba937bf13d40fb24  2016-02-05        45
 19      air_ba937bf13d40fb24  2016-02-06        15
 20      air_ba937bf13d40fb24  2016-02-08        19
 21      air_ba937bf13d40fb24  2016-02-09        15
 22      air_ba937bf13d40fb24  2016-02-10        32
 23      air_ba937bf13d40fb24  2016-02-11         3
 24      air_ba937bf13d40fb24  2016-02-12        26
 25      air_ba937bf13d40fb24  2016-02-13         8
 26      air_ba937bf13d40fb24  2016-02-15        14
 27      air_ba937bf13d40fb24  2016-02-16        15
 28      air_ba937bf13d40fb24  2016-02-17        17
 29      air_ba937bf13d40fb24  2016-02-18        22
 ...                      ...         ...       ...
 252078  air_24e8414b9b07decb  2017-03-17         4
 252079  air_24e8414b9b07decb  2017-03-18         7
 252080  air_24e8414b9b07decb  2017-03-21         2
 252081  air_24e8414b9b07decb  2017-03-22         8
 252082  air_24e8414b9b07decb  2017-03-23         8
 252083  air_24e8414b9b07decb  2017-03-24         7
 252084  air_24e8414b9b07decb  2017-03-25         2
 252085  air_24e8414b9b07decb  2017-03-27         4
 252086  air_24e8414b9b07decb  2017-03-28         7
 252087  air_24e8414b9b07decb  2017-03-29        11
 252088  air_24e8414b9b07decb  2017-03-30         7
 252089  air_24e8414b9b07decb  2017-03-31         8
 252090  air_24e8414b9b07decb  2017-04-01         6
 252091  air_24e8414b9b07decb  2017-04-03         4
 252092  air_24e8414b9b07decb  2017-04-04         2
 252093  air_24e8414b9b07decb  2017-04-05         2
 252094  air_24e8414b9b07decb  2017-04-06         8
 252095  air_24e8414b9b07decb  2017-04-07         8
 252096  air_24e8414b9b07decb  2017-04-08         8
 252097  air_24e8414b9b07decb  2017-04-10         4
 252098  air_24e8414b9b07decb  2017-04-11         2
 252099  air_24e8414b9b07decb  2017-04-12         8
 252100  air_24e8414b9b07decb  2017-04-13         6
 252101  air_24e8414b9b07decb  2017-04-14         2
 252102  air_24e8414b9b07decb  2017-04-15         7
 252103  air_24e8414b9b07decb  2017-04-18         6
 252104  air_24e8414b9b07decb  2017-04-19         6
 252105  air_24e8414b9b07decb  2017-04-20         7
 252106  air_24e8414b9b07decb  2017-04-21         8
 252107  air_24e8414b9b07decb  2017-04-22         5

 [252108 rows x 3 columns]}

In [91]:
data['tra'] = data['tra'].merge(date_info, left_on='visit_date', right_on='calendar_date', how='left')
data['tra'] = data['tra'].merge(visitors, on=['air_store_id', 'day_of_week', 'holiday_flg'], how='left')

missings = data['tra'].visitors_y.isnull()

In [92]:
data['tra'].head()

,air_store_id,visit_date,visitors_x,calendar_date,day_of_week,holiday_flg,weight,visitors_y
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,1.005227e-08,2.915902
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,1.456087e-08,2.739233
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,2.055908e-08,3.519119
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,2.838881e-08,3.184366
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,5.115756e-08,2.200934

In [93]:
data['tra'].loc[missings, 'visitors_y'] = data['tra'][missings].merge(visitors[visitors.holiday_flg==0], on=('air_store_id', 'day_of_week'), how='left')['visitors_y'].values

In [98]:
display(data['tra'].loc[missings, 'visitors_y'])

Series([], Name: visitors_y, dtype: float64)

In [99]:
missings = data['tra'].visitors_y.isnull()
data['tra'].loc[missings, 'visitors_y'] = data['tra'][missings].merge(visitors[['air_store_id', 'visitors']].groupby('air_store_id').mean().reset_index(), on='air_store_id', how='left')['visitors_y'].values

In [100]:
data['tra'].loc[missings, 'visitors_y']

Series([], Name: visitors_y, dtype: float64)

In [102]:
data['tra'].head()

,air_store_id,visit_date,visitors_x,calendar_date,day_of_week,holiday_flg,weight,visitors_y
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,1.005227e-08,2.915902
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,1.456087e-08,2.739233
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,2.055908e-08,3.519119
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,2.838881e-08,3.184366
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,5.115756e-08,2.200934

In [103]:
data['tra'][missings]

Empty DataFrame
Columns: [air_store_id, visit_date, visitors_x, calendar_date, day_of_week, holiday_flg, weight, visitors_y]
Index: []

In [104]:
train_visit_var = data['tra'].visitors_y.map(pd.np.expm1)

In [106]:
train_visit_var.head()

0    17.465455
1    14.475111
2    32.754678
3    23.151975
4     8.033447
Name: visitors_y, dtype: float64

In [107]:
data = {
    'tra': pd.read_csv('../input/air_visit_data.csv'),
    'as': pd.read_csv('../input/air_store_info.csv'),
    'hs': pd.read_csv('../input/hpg_store_info.csv'),
    'ar': pd.read_csv('../input/air_reserve.csv'),
    'hr': pd.read_csv('../input/hpg_reserve.csv'),
    'id': pd.read_csv('../input/store_id_relation.csv'),
    'tes': pd.read_csv('../input/sample_submission.csv'),
    'hol': pd.read_csv('../input/date_info.csv').rename(columns={'calendar_date':'visit_date'})
    }

In [109]:
data['hr'].head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [110]:
data['id'].head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

In [111]:
data['hr'] = pd.merge(data['hr'], data['id'], how='inner', on=['hpg_store_id'])

In [112]:
data['hr'].head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,air_store_id
0,hpg_878cc70b1abc76f7,2016-01-01 19:00:00,2016-01-01 15:00:00,4,air_db80363d35f10926
1,hpg_878cc70b1abc76f7,2016-01-02 19:00:00,2016-01-02 14:00:00,2,air_db80363d35f10926
2,hpg_878cc70b1abc76f7,2016-01-03 18:00:00,2016-01-02 20:00:00,6,air_db80363d35f10926
3,hpg_878cc70b1abc76f7,2016-01-06 20:00:00,2016-01-04 22:00:00,3,air_db80363d35f10926
4,hpg_878cc70b1abc76f7,2016-01-11 18:00:00,2016-01-11 14:00:00,2,air_db80363d35f10926

In [113]:
data['ar'].head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [114]:

for df in ['ar','hr']:
    data[df]['visit_datetime'] = pd.to_datetime(data[df]['visit_datetime']).dt.date
    data[df]['reserve_datetime'] = pd.to_datetime(data[df]['reserve_datetime']).dt.date
    data[df]['reserve_datetime_diff'] = data[df].apply(lambda r: (r['visit_datetime'] - r['reserve_datetime']).days, axis=1)
    tmp1 = data[df].groupby(['air_store_id','visit_datetime'], as_index=False)[['reserve_datetime_diff', 'reserve_visitors']].sum().rename(columns={'visit_datetime':'visit_date', 'reserve_datetime_diff': 'rs1', 'reserve_visitors':'rv1'})
    tmp2 = data[df].groupby(['air_store_id','visit_datetime'], as_index=False)[['reserve_datetime_diff', 'reserve_visitors']].mean().rename(columns={'visit_datetime':'visit_date', 'reserve_datetime_diff': 'rs2', 'reserve_visitors':'rv2'})
    data[df] = pd.merge(tmp1, tmp2, how='inner', on=['air_store_id','visit_date'])

In [115]:
data['ar'].head()

           air_store_id  visit_date  rs1  rv1  rs2   rv2
0  air_00a91d42b08b08d9  2016-10-31    0    2  0.0   2.0
1  air_00a91d42b08b08d9  2016-12-05    4    9  4.0   9.0
2  air_00a91d42b08b08d9  2016-12-14    6   18  6.0  18.0
3  air_00a91d42b08b08d9  2016-12-17    6    2  6.0   2.0
4  air_00a91d42b08b08d9  2016-12-20    2    4  2.0   4.0

In [116]:
data['hr'].head()

           air_store_id  visit_date  rs1  rv1  rs2  rv2
0  air_00a91d42b08b08d9  2016-01-14    3    2  3.0  2.0
1  air_00a91d42b08b08d9  2016-01-15    6    4  6.0  4.0
2  air_00a91d42b08b08d9  2016-01-16    3    2  3.0  2.0
3  air_00a91d42b08b08d9  2016-01-22    3    2  3.0  2.0
4  air_00a91d42b08b08d9  2016-01-29    6    5  6.0  5.0

In [119]:

data['tra'].head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [120]:

data['tes'].head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [121]:
data['tra']['visit_date'] = pd.to_datetime(data['tra']['visit_date'])
data['tra']['dow'] = data['tra']['visit_date'].dt.dayofweek
data['tra']['year'] = data['tra']['visit_date'].dt.year
data['tra']['month'] = data['tra']['visit_date'].dt.month
data['tra']['visit_date'] = data['tra']['visit_date'].dt.date

data['tes']['visit_date'] = data['tes']['id'].map(lambda x: str(x).split('_')[2])
data['tes']['air_store_id'] = data['tes']['id'].map(lambda x: '_'.join(x.split('_')[:2]))
data['tes']['visit_date'] = pd.to_datetime(data['tes']['visit_date'])
data['tes']['dow'] = data['tes']['visit_date'].dt.dayofweek
data['tes']['year'] = data['tes']['visit_date'].dt.year
data['tes']['month'] = data['tes']['visit_date'].dt.month
data['tes']['visit_date'] = data['tes']['visit_date'].dt.date

In [122]:

data['tes'].head()

,id,visitors,visit_date,air_store_id,dow,year,month
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4

In [123]:

data['tra'].head()

           air_store_id  visit_date  visitors  dow  year  month
0  air_ba937bf13d40fb24  2016-01-13        25    2  2016      1
1  air_ba937bf13d40fb24  2016-01-14        32    3  2016      1
2  air_ba937bf13d40fb24  2016-01-15        29    4  2016      1
3  air_ba937bf13d40fb24  2016-01-16        22    5  2016      1
4  air_ba937bf13d40fb24  2016-01-18         6    0  2016      1

In [124]:
unique_stores = data['tes']['air_store_id'].unique()

In [126]:
stores = pd.concat([pd.DataFrame({'air_store_id': unique_stores, 'dow': [i]*len(unique_stores)}) for i in range(7)], axis=0, ignore_index=True).reset_index(drop=True)

In [132]:
stores.head(15)

,air_store_id,dow,min_visitors_x,mean_visitors_x,median_visitors_x,max_visitors_x,count_observations_x,min_visitors_y,mean_visitors_y,median_visitors_y,max_visitors_y,count_observations_y
0,air_00a91d42b08b08d9,0,1.0,22.457143,19.0,47.0,35.0,1.0,22.457143,19.0,47.0,35.0
1,air_0164b9927d20bcc3,0,2.0,7.500000,6.0,19.0,20.0,2.0,7.500000,6.0,19.0,20.0
2,air_0241aa3964b7f861,0,2.0,8.920635,8.0,23.0,63.0,2.0,8.920635,8.0,23.0,63.0
3,air_0328696196e46f18,0,2.0,6.416667,4.0,27.0,12.0,2.0,6.416667,4.0,27.0,12.0
4,air_034a3d5b40d5b1b1,0,1.0,11.864865,10.0,66.0,37.0,1.0,11.864865,10.0,66.0,37.0
5,air_036d4f1ee7285390,0,4.0,19.600000,19.0,38.0,40.0,4.0,19.600000,19.0,38.0,40.0
6,air_0382c794b73b51ad,0,1.0,20.795455,21.0,47.0,44.0,1.0,20.795455,21.0,47.0,44.0
7,air_03963426c9312048,0,2.0,26.030303,26.0,70.0,66.0,2.0,26.030303,26.0,70.0,66.0
8,air_04341b588bde96cd,0,5.0,35.417910,33.0,76.0,67.0,5.0,35.417910,33.0,76.0,67.0
9,air_049f6d5b402a31b2,0,2.0,9.027778,9.0,20.0,36.0,2.0,9.027778,9.0,20.0,36.0
10,air_04cae7c1bc9b2a0b,0,2.0,14.487805,12.0,37.0,41.0,2.0,14.487805,12.0,37.0,41.0
11,air_0585011fa179bcce,0,1.0,3.351351,3.0,9.0,37.0,1.0,3.351351,3.0,9.0,37.0
12,air_05c325d315cc17f5,0,3.0,19.940299,20.0,42.0,67.0,3.0,19.940299,20.0,42.0,67.0
13,air_0647f17b4dc041c8,0,11.0,32.238095,32.0,61.0,42.0,11.0,32.238095,32.0,61.0,42.0
14,air_064e203265ee5753,0,4.0,17.270270,16.0,33.0,37.0,4.0,17.270270,16.0,33.0,37.0

In [133]:
unique_stores = data['tes']['air_store_id'].unique()
stores = pd.concat([pd.DataFrame({'air_store_id': unique_stores, 'dow': [i]*len(unique_stores)}) for i in range(7)], axis=0, ignore_index=True).reset_index(drop=True)
#OPTIMIZED BY JEROME VALLET
tmp = data['tra'].groupby(['air_store_id','dow']).agg({'visitors' : [np.min,np.mean,np.median,np.max,np.size]}).reset_index()
tmp.columns = ['air_store_id', 'dow', 'min_visitors', 'mean_visitors', 'median_visitors','max_visitors','count_observations']
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow']) 

stores = pd.merge(stores, data['as'], how='left', on=['air_store_id'])

In [137]:
stores.head()

,air_store_id,dow,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations,air_genre_name,air_area_name,latitude,longitude
0,air_00a91d42b08b08d9,0,1.0,22.457143,19.0,47.0,35.0,Italian/French,Tky-to Chiyoda-ku Kudanminami,35.694003,139.753595
1,air_0164b9927d20bcc3,0,2.0,7.500000,6.0,19.0,20.0,Italian/French,Tky-to Minato-ku Shibaken,35.658068,139.751599
2,air_0241aa3964b7f861,0,2.0,8.920635,8.0,23.0,63.0,Izakaya,Tky-to Tait-ku Higashiueno,35.712607,139.779996
3,air_0328696196e46f18,0,2.0,6.416667,4.0,27.0,12.0,Dining bar,saka-fu saka-shi Nakanoch,34.701279,135.528090
4,air_034a3d5b40d5b1b1,0,1.0,11.864865,10.0,66.0,37.0,Cafe/Sweets,saka-fu saka-shi hiraki,34.692337,135.472229

In [136]:
tmp.head()

,air_store_id,dow,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations
0,air_00a91d42b08b08d9,0,1,22.457143,19.0,47,35
1,air_00a91d42b08b08d9,1,1,24.350000,24.5,43,40
2,air_00a91d42b08b08d9,2,15,28.125000,28.0,52,40
3,air_00a91d42b08b08d9,3,15,29.868421,30.0,47,38
4,air_00a91d42b08b08d9,4,17,36.500000,35.5,57,40

In [138]:
stores['air_genre_name'] = stores['air_genre_name'].map(lambda x: str(str(x).replace('/',' ')))
stores['air_area_name'] = stores['air_area_name'].map(lambda x: str(str(x).replace('-',' ')))
lbl = preprocessing.LabelEncoder()

In [139]:
for i in range(10):
    stores['air_genre_name'+str(i)] = lbl.fit_transform(stores['air_genre_name'].map(lambda x: str(str(x).split(' ')[i]) if len(str(x).split(' '))>i else ''))
    stores['air_area_name'+str(i)] = lbl.fit_transform(stores['air_area_name'].map(lambda x: str(str(x).split(' ')[i]) if len(str(x).split(' '))>i else ''))
stores['air_genre_name'] = lbl.fit_transform(stores['air_genre_name'])
stores['air_area_name'] = lbl.fit_transform(stores['air_area_name'])

In [140]:
stores.head()

,air_store_id,dow,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations,air_genre_name,air_area_name,latitude,...,air_genre_name5,air_area_name5,air_genre_name6,air_area_name6,air_genre_name7,air_area_name7,air_genre_name8,air_area_name8,air_genre_name9,air_area_name9
0,air_00a91d42b08b08d9,0,1.0,22.457143,19.0,47.0,35.0,6,44,35.694003,...,0,0,0,0,0,0,0,0,0,0
1,air_0164b9927d20bcc3,0,2.0,7.500000,6.0,19.0,20.0,6,62,35.658068,...,0,0,0,0,0,0,0,0,0,0
2,air_0241aa3964b7f861,0,2.0,8.920635,8.0,23.0,63.0,7,82,35.712607,...,0,0,0,0,0,0,0,0,0,0
3,air_0328696196e46f18,0,2.0,6.416667,4.0,27.0,12.0,4,98,34.701279,...,0,0,0,0,0,0,0,0,0,0
4,air_034a3d5b40d5b1b1,0,1.0,11.864865,10.0,66.0,37.0,2,102,34.692337,...,0,0,0,0,0,0,0,0,0,0

In [146]:
stores.columns

Index(['air_store_id', 'dow', 'min_visitors', 'mean_visitors',
       'median_visitors', 'max_visitors', 'count_observations',
       'air_genre_name', 'air_area_name', 'latitude', 'longitude',
       'air_genre_name0', 'air_area_name0', 'air_genre_name1',
       'air_area_name1', 'air_genre_name2', 'air_area_name2',
       'air_genre_name3', 'air_area_name3', 'air_genre_name4',
       'air_area_name4', 'air_genre_name5', 'air_area_name5',
       'air_genre_name6', 'air_area_name6', 'air_genre_name7',
       'air_area_name7', 'air_genre_name8', 'air_area_name8',
       'air_genre_name9', 'air_area_name9'],
      dtype='object')

In [148]:
data['hol'].head()

   visit_date day_of_week  holiday_flg
0  2016-01-01      Friday            1
1  2016-01-02    Saturday            1
2  2016-01-03      Sunday            1
3  2016-01-04      Monday            0
4  2016-01-05     Tuesday            0

In [149]:
data['hol']['visit_date'] = pd.to_datetime(data['hol']['visit_date'])
data['hol']['day_of_week'] = lbl.fit_transform(data['hol']['day_of_week'])
data['hol']['visit_date'] = data['hol']['visit_date'].dt.date
train = pd.merge(data['tra'], data['hol'], how='left', on=['visit_date']) 
test = pd.merge(data['tes'], data['hol'], how='left', on=['visit_date']) 

train = pd.merge(train, stores, how='left', on=['air_store_id','dow']) 
test = pd.merge(test, stores, how='left', on=['air_store_id','dow'])

In [150]:
data['hol'].head()

   visit_date  day_of_week  holiday_flg
0  2016-01-01            0            1
1  2016-01-02            2            1
2  2016-01-03            3            1
3  2016-01-04            1            0
4  2016-01-05            5            0

In [151]:
train.head()

,air_store_id,visit_date,visitors,dow,year,month,day_of_week,holiday_flg,min_visitors,mean_visitors,...,air_genre_name5,air_area_name5,air_genre_name6,air_area_name6,air_genre_name7,air_area_name7,air_genre_name8,air_area_name8,air_genre_name9,air_area_name9
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,6,0,7.0,23.843750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,4,0,2.0,20.292308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,0,0,4.0,34.738462,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,air_ba937bf13d40fb24,2016-01-16,22,5,2016,1,2,0,6.0,27.651515,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,air_ba937bf13d40fb24,2016-01-18,6,0,2016,1,1,0,2.0,13.754386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [152]:
test.head()

,id,visitors,visit_date,air_store_id,dow,year,month,day_of_week,holiday_flg,min_visitors,...,air_genre_name5,air_area_name5,air_genre_name6,air_area_name6,air_genre_name7,air_area_name7,air_genre_name8,air_area_name8,air_genre_name9,air_area_name9
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4,3,0,2.0,...,0,0,0,0,0,0,0,0,0,0
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4,1,0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4,5,0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4,6,0,15.0,...,0,0,0,0,0,0,0,0,0,0
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4,4,0,15.0,...,0,0,0,0,0,0,0,0,0,0

In [153]:
test.columns

Index(['id', 'visitors', 'visit_date', 'air_store_id', 'dow', 'year', 'month',
       'day_of_week', 'holiday_flg', 'min_visitors', 'mean_visitors',
       'median_visitors', 'max_visitors', 'count_observations',
       'air_genre_name', 'air_area_name', 'latitude', 'longitude',
       'air_genre_name0', 'air_area_name0', 'air_genre_name1',
       'air_area_name1', 'air_genre_name2', 'air_area_name2',
       'air_genre_name3', 'air_area_name3', 'air_genre_name4',
       'air_area_name4', 'air_genre_name5', 'air_area_name5',
       'air_genre_name6', 'air_area_name6', 'air_genre_name7',
       'air_area_name7', 'air_genre_name8', 'air_area_name8',
       'air_genre_name9', 'air_area_name9'],
      dtype='object')

In [154]:
train.columns

Index(['air_store_id', 'visit_date', 'visitors', 'dow', 'year', 'month',
       'day_of_week', 'holiday_flg', 'min_visitors', 'mean_visitors',
       'median_visitors', 'max_visitors', 'count_observations',
       'air_genre_name', 'air_area_name', 'latitude', 'longitude',
       'air_genre_name0', 'air_area_name0', 'air_genre_name1',
       'air_area_name1', 'air_genre_name2', 'air_area_name2',
       'air_genre_name3', 'air_area_name3', 'air_genre_name4',
       'air_area_name4', 'air_genre_name5', 'air_area_name5',
       'air_genre_name6', 'air_area_name6', 'air_genre_name7',
       'air_area_name7', 'air_genre_name8', 'air_area_name8',
       'air_genre_name9', 'air_area_name9'],
      dtype='object')

In [155]:
for df in ['ar','hr']:
    train = pd.merge(train, data[df], how='left', on=['air_store_id','visit_date']) 
    test = pd.merge(test, data[df], how='left', on=['air_store_id','visit_date'])

In [156]:

data['ar'].head()

           air_store_id  visit_date  rs1  rv1  rs2   rv2
0  air_00a91d42b08b08d9  2016-10-31    0    2  0.0   2.0
1  air_00a91d42b08b08d9  2016-12-05    4    9  4.0   9.0
2  air_00a91d42b08b08d9  2016-12-14    6   18  6.0  18.0
3  air_00a91d42b08b08d9  2016-12-17    6    2  6.0   2.0
4  air_00a91d42b08b08d9  2016-12-20    2    4  2.0   4.0

In [157]:

data['hr'].head()

           air_store_id  visit_date  rs1  rv1  rs2  rv2
0  air_00a91d42b08b08d9  2016-01-14    3    2  3.0  2.0
1  air_00a91d42b08b08d9  2016-01-15    6    4  6.0  4.0
2  air_00a91d42b08b08d9  2016-01-16    3    2  3.0  2.0
3  air_00a91d42b08b08d9  2016-01-22    3    2  3.0  2.0
4  air_00a91d42b08b08d9  2016-01-29    6    5  6.0  5.0

In [159]:
train.columns

Index(['air_store_id', 'visit_date', 'visitors', 'dow', 'year', 'month',
       'day_of_week', 'holiday_flg', 'min_visitors', 'mean_visitors',
       'median_visitors', 'max_visitors', 'count_observations',
       'air_genre_name', 'air_area_name', 'latitude', 'longitude',
       'air_genre_name0', 'air_area_name0', 'air_genre_name1',
       'air_area_name1', 'air_genre_name2', 'air_area_name2',
       'air_genre_name3', 'air_area_name3', 'air_genre_name4',
       'air_area_name4', 'air_genre_name5', 'air_area_name5',
       'air_genre_name6', 'air_area_name6', 'air_genre_name7',
       'air_area_name7', 'air_genre_name8', 'air_area_name8',
       'air_genre_name9', 'air_area_name9', 'rs1_x', 'rv1_x', 'rs2_x', 'rv2_x',
       'rs1_y', 'rv1_y', 'rs2_y', 'rv2_y'],
      dtype='object')

In [160]:
test.columns

Index(['id', 'visitors', 'visit_date', 'air_store_id', 'dow', 'year', 'month',
       'day_of_week', 'holiday_flg', 'min_visitors', 'mean_visitors',
       'median_visitors', 'max_visitors', 'count_observations',
       'air_genre_name', 'air_area_name', 'latitude', 'longitude',
       'air_genre_name0', 'air_area_name0', 'air_genre_name1',
       'air_area_name1', 'air_genre_name2', 'air_area_name2',
       'air_genre_name3', 'air_area_name3', 'air_genre_name4',
       'air_area_name4', 'air_genre_name5', 'air_area_name5',
       'air_genre_name6', 'air_area_name6', 'air_genre_name7',
       'air_area_name7', 'air_genre_name8', 'air_area_name8',
       'air_genre_name9', 'air_area_name9', 'rs1_x', 'rv1_x', 'rs2_x', 'rv2_x',
       'rs1_y', 'rv1_y', 'rs2_y', 'rv2_y'],
      dtype='object')

In [161]:
train['id'] = train.apply(lambda r: '_'.join([str(r['air_store_id']), str(r['visit_date'])]), axis=1)

train['total_reserv_sum'] = train['rv1_x'] + train['rv1_y']
train['total_reserv_mean'] = (train['rv2_x'] + train['rv2_y']) / 2
train['total_reserv_dt_diff_mean'] = (train['rs2_x'] + train['rs2_y']) / 2

test['total_reserv_sum'] = test['rv1_x'] + test['rv1_y']
test['total_reserv_mean'] = (test['rv2_x'] + test['rv2_y']) / 2
test['total_reserv_dt_diff_mean'] = (test['rs2_x'] + test['rs2_y']) / 2

In [162]:
train['date_int'] = train['visit_date'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)
test['date_int'] = test['visit_date'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)
train['var_max_lat'] = train['latitude'].max() - train['latitude']
train['var_max_long'] = train['longitude'].max() - train['longitude']
test['var_max_lat'] = test['latitude'].max() - test['latitude']
test['var_max_long'] = test['longitude'].max() - test['longitude']

In [163]:
train['lon_plus_lat'] = train['longitude'] + train['latitude'] 
test['lon_plus_lat'] = test['longitude'] + test['latitude']

lbl = preprocessing.LabelEncoder()
train['air_store_id2'] = lbl.fit_transform(train['air_store_id'])
test['air_store_id2'] = lbl.transform(test['air_store_id'])

In [164]:
train['hklee_feature'] = train_visit_var 
test['hklee_feature'] = test_visit_var

In [166]:
 train_visit_var.head()

0    17.465455
1    14.475111
2    32.754678
3    23.151975
4     8.033447
Name: visitors_y, dtype: float64

In [167]:
test.columns

Index(['id', 'visitors', 'visit_date', 'air_store_id', 'dow', 'year', 'month',
       'day_of_week', 'holiday_flg', 'min_visitors', 'mean_visitors',
       'median_visitors', 'max_visitors', 'count_observations',
       'air_genre_name', 'air_area_name', 'latitude', 'longitude',
       'air_genre_name0', 'air_area_name0', 'air_genre_name1',
       'air_area_name1', 'air_genre_name2', 'air_area_name2',
       'air_genre_name3', 'air_area_name3', 'air_genre_name4',
       'air_area_name4', 'air_genre_name5', 'air_area_name5',
       'air_genre_name6', 'air_area_name6', 'air_genre_name7',
       'air_area_name7', 'air_genre_name8', 'air_area_name8',
       'air_genre_name9', 'air_area_name9', 'rs1_x', 'rv1_x', 'rs2_x', 'rv2_x',
       'rs1_y', 'rv1_y', 'rs2_y', 'rv2_y', 'total_reserv_sum',
       'total_reserv_mean', 'total_reserv_dt_diff_mean', 'date_int',
       'var_max_lat', 'var_max_long', 'lon_plus_lat', 'air_store_id2',
       'hklee_feature'],
      dtype='object')

In [168]:
col = [c for c in train if c not in ['id', 'air_store_id', 'visit_date','visitors']]
train = train.fillna(-1)
test = test.fillna(-1)

def RMSLE(y, pred):
    return metrics.mean_squared_error(y, pred)**0.5

In [169]:
model1 = ensemble.GradientBoostingRegressor(learning_rate=0.2, random_state=3, n_estimators=200, subsample=0.8, max_depth =10)
model2 = neighbors.KNeighborsRegressor(n_jobs=-1, n_neighbors=4)

In [171]:
train[col].head()

,dow,year,month,day_of_week,holiday_flg,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations,...,rv2_y,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean,date_int,var_max_lat,var_max_long,lon_plus_lat,air_store_id2,hklee_feature
0,2,2016,1,6,0,7.0,23.843750,25.0,57.0,64.0,...,-1.0,-1.0,-1.0,-1.0,20160113,8.362564,4.521799,175.409667,603,17.465455
1,3,2016,1,4,0,2.0,20.292308,21.0,54.0,65.0,...,-1.0,-1.0,-1.0,-1.0,20160114,8.362564,4.521799,175.409667,603,14.475111
2,4,2016,1,0,0,4.0,34.738462,35.0,61.0,65.0,...,-1.0,-1.0,-1.0,-1.0,20160115,8.362564,4.521799,175.409667,603,32.754678
3,5,2016,1,2,0,6.0,27.651515,27.0,53.0,66.0,...,-1.0,-1.0,-1.0,-1.0,20160116,8.362564,4.521799,175.409667,603,23.151975
4,0,2016,1,1,0,2.0,13.754386,12.0,34.0,57.0,...,-1.0,-1.0,-1.0,-1.0,20160118,8.362564,4.521799,175.409667,603,8.033447

In [ ]:
model1.fit(train[col], np.log1p(train['visitors'].values))
model2.fit(train[col], np.log1p(train['visitors'].values))
#model3.fit(train[col], np.log1p(train['visitors'].values))
print('RMSE GradientBoostingRegressor: ', RMSLE(np.log1p(train['visitors'].values), model1.predict(train[col])))
print('RMSE KNeighborsRegressor: ', RMSLE(np.log1p(train['visitors'].values), model2.predict(train[col])))
#print('RMSE XGBRegressor: ', RMSLE(np.log1p(train['visitors'].values), model3.predict(train[col])))
#test['visitors'] = (model1.predict(test[col]) + model2.predict(test[col]) + model3.predict(test[col])) / 3
test['visitors'] = (model1.predict(test[col]) + model2.predict(test[col])) / 2
test['visitors'] = np.expm1(test['visitors']).clip(lower=0.)
sub1 = test[['id','visitors']].copy()
del train; del data;